.feeds .mat-card {
  width: 33%;
}

mat-sidenav-container.m2app-dark {
  background: black;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-100px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.ball{
  animation: float 6s ease-in-out infinite;
  border-radius: 50%;
  z-index: 0;
  position: fixed;
}
.ball1{
  transform: translate(200px, 100px);
  left: 200px;
  top: 250px;
  height: 300px;
  width: 300px;
  background: linear-gradient(90deg,#0084ff,#0ff);
}

.ball2{
  transform: translate(-50px, 100px);
  left: -50px;
  top: 200px;
  height: 150px;
  width: 150px;
  background: linear-gradient(90deg,#a200ff,#000dff);
}

.ball3{
  transform: translate(-160px, 400px);
  left: -160px;
  top: 500px;
  height: 240px;
  width: 240px;
  background: linear-gradient(90deg,#00ffd9,#00ff84);
}

.example-content {
  padding: 5px;
}

.example-content mat-card {
  margin: 5px;
}

.example-content button {
  margin-left: 5px;
  margin-right: 5px;
}

.app-sidenav {
  min-width: 200px;
}

.example-content mat-checkbox, mat-radio-button {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}


.app-fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
  padding: 0 5px;
}

.app-menu-button {
  padding: 0;
  min-width: 50px;
}
.app-button {
  margin: 5px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
}

.app-progress {
  margin: 5px;
}

.example-h2 {
  margin: 10px 0;
  color: rgba(0,0,0,.54);
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

mat-chip {
  max-width: 200px;
}

.app-sidebar-button {
  width: inherit;
}

.example-spacer {
  flex: 1 1 auto;
}
