<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Trends</h2>
    <mat-tab-group>
      <mat-tab label="All">
        <p>Soon ...</p>
      </mat-tab>
      <mat-tab label="Stocks">
        <p>Soon ...</p>
      </mat-tab>
      <mat-tab label="Crypto">
        <p>The Earth Kingdom is a massive continent led by an earth monarch and is home to people who practice the art of
          earthbending. Being the largest of the four nations, it is ethnically diverse with a variance of customs and
          cultural traditions. The people of the Earth Kingdom are strong and persistent. The geography of the Earth
          Kingdom varies tremendously, ranging from wooded forests to blazing deserts, mountainous terrain, and grassy
          plains.
        </p>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>
