@use '~@angular/material' as mat;
@include mat.core();

/* ======== angular material custom theme ======== */


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat.define-typography-config(
  $font-family: 'Kanit, sans-serif',
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 500)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat.typography-hierarchy($custom-typography);

// Override typography for a specific Angular Material components.
@include mat.checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include mat.all-component-typographies($custom-typography);

// Override the typography in the core CSS.
@include mat.core($custom-typography);

// Colors

$dark-primary-text: #8f80ba;

mat.$purple-palette: (
  50: #e1bee7,
  100: #e1bee7,
  200: #dba5e2,
  300: #d79de0,
  400: #da7ae5,
  500: #f8f7f7, //Navbra btn
  600: #13c190,
  700: #1e2a68,
  800: #eea905,
  900: #7d00ff,
  A100:  #e1bee7,
  A200:  #e1bee7,
  A400:  #e1bee7,
  A700: #e1bee7,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);



mat.$pink-palette: (
  50: #fce4ec,
  100: #8F80BA,
  200: #e1bee7,
  300: #dba5e2,
  400: #d79de0,
  500: #da7ae5,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: rgba(black, 0.87),
    100: white,
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);


mat.$green-palette: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);


mat.$cyan-palette: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #1FC7D4, //BUTTONS
  600: #00acc1,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  A100: #84ffff,
  A200: #18ffff,
  A400: #00e5ff,
  A700: #00b8d4,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);


$my-custom-primary: mat.define-palette(mat.$purple-palette);
$my-custom-accent: mat.define-palette(mat.$pink-palette, 100, 500, A100);
$my-custom-warn: mat.define-palette(mat.$cyan-palette);

// Light theme
$my-custom-theme: mat.define-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

// Dark theme
//$my-custom-theme: mat.define-dark-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

// Main theme defination
@include mat.all-component-themes($my-custom-theme);


// Alternate Angular Material Theme
.my-alternate-theme {
  $my-alternate-primary: mat.define-palette(mat.$purple-palette);
  $my-alternate-accent: mat.define-palette(mat.$green-palette, 400);
  $my-alternate-warn: mat.define-palette(mat.$cyan-palette);

  $my-alternate-theme: mat.define-dark-theme($my-alternate-primary, $my-alternate-accent, $my-alternate-warn);

  @include mat.all-component-themes($my-alternate-theme);
}



.mat-typography {
 .title{
   color: #ffffff;
   background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
   -webkit-background-clip: text;
   text-shadow: #452a7a 0px 0px 3px;
 }
  mat-toolbar-row {
    color: #452a7a;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    -webkit-background-clip: text;
    text-shadow: #fce4ec 0px 0px 3px;
  }
  .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 50%;
  }
  /* frosted glass effect */

  .mat-card, .mat-dialog-container, .mat-snack-bar-container {
    border-radius: 32px;
    padding: 24px;
    //border: 2px outset rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255,255,255,0.3);
    box-sizing: border-box;
    color: rgb(69, 42, 122);
    box-shadow:rgb(238 234 244) 0px 0px 5px inset;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .mat-card {
    background: linear-gradient(145deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%);
    h2{
      letter-spacing: 1px;
      color:  #452a7a;
      background: -webkit-linear-gradient(rgb(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
      -webkit-background-clip: text;
    //  -webkit-text-fill-color: transparent;
      text-shadow:#fce4ec 0px 0px 3px;
    }
  }

  .my-alternate-theme .mat-card {
    background: white;
    border: 0;
  }

  .my-alternate-theme-dark .mat-card {
    background: #424242;
    color: #e2d4ff;
    border: 0;
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
  }



  .mat-simple-snackbar > span{
    color: rgb(162, 139, 212);
  }

  .mat-button-base:not(.mat-fab,.app-menu-button,.mat-icon-button) {
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow:rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    padding: 0px 24px;
    &:active {
      box-sizing: border-box;
      border-radius: 16px;
      box-shadow:rgb(14 14 44 / 5%) 0px -1px 0px 0px inset !important;
    }
    &:hover {
      box-sizing: border-box;
      border-radius: 16px;
      box-shadow:rgb(14 14 44 / 20%) 0px -1px 0px 0px inset !important;
    }
  }



  .mat-toolbar.top-bar {
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.3);

    box-shadow:rgb(238 234 244) 0px 0px 5px inset;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: linear-gradient(145deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%);
  }

  .mat-sidenav.app-sidenav {
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.4) ;
    & .mat-toolbar{
     background: transparent;
    }

  }

  .mat-drawer-backdrop.mat-drawer-shown {
    visibility: hidden;
  }


    .mat-drawer-container {
    box-sizing: border-box;
    color: rgb(69, 42, 122);
    box-shadow:rgb(238 234 244) 0px 0px 5px inset;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: linear-gradient(145deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%);
  }

  //TABLE
  .mat-elevation-z8{
    box-shadow: none;
  }
  table{
    background: transparent;

  }

  mat-paginator{
    background: transparent;
  }

  mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    border-bottom-color: rgba(255, 255, 255, 0.68);
    font-weight: 300;
  }


}


